DEVICE={{baremetal_access_if}}
ONBOOT=yes
HOTPLUG=no
NM_CONTROLLED=no
{% if UndercloudExternalNetwork == 'vlan' %}
VLAN=yes
{% endif %}
IPADDR=172.21.0.1
NETMASK=255.255.255.0
BOOTPROTO=none
MTU=1500
