{
    "nodes": [
        {
            "pm_addr": "{{COMPUTE_IDRAC}}",
            "pm_type": "pxe_ipmitool",
            "pm_user": "{{IDRAC_USER}}",
            "pm_password": "{{IDRAC_PASSWORD}}"
        },
        {
            "pm_addr": "{{CONTROLLER_IDRAC}}",
            "pm_type": "pxe_ipmitool",
            "pm_user": "{{IDRAC_USER}}",
            "pm_password": "{{IDRAC_PASSWORD}}"
        }
    ]
}

